


h1{
    color:#29295B;
}

.welcome{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color:#FAF1EB;

}

.menu{
    font-size: 20px;
    background-color:#EBD3D4;
    text-align: center;

}
