


header{

    background-color:#EBD3D4;
}
h1{
    color:#29295B;
}

/* just to practice class fuction. */
.welcome{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body{
    background-color:#FAF1EB;

}

.menu{
    font-size: 20px;
    text-align: center;

}

.menu_list{
    list-style-type: none;

}